<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edt Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Edit Data</h2>
        <form method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">String</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="string" placeholder="String" value="<%= dataEdit.string %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Integer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="integer" placeholder="Integer" value="<%= dataEdit.integer %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Float</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="float" placeholder="Float" value="<%= dataEdit.float %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="inputEmail3" name="date" placeholder="end date" value="<%= dataEdit.date %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Boolean</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="boolean">
                        <option <%= pilihanTrue %> value="true">True</option>
                        <option <%= pilihanFalse %> value="false">False</option>
                      </select>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <a href="/" class="btn btn-secondary">Home</a>
    </div>
</body>

</html>