<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="date.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Node</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Data</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">String</th>
                    <th scope="col">Integer</th>
                    <th scope="col">Float</th>
                    <th scope="col">Date</th>
                    <th scope="col">Boolean</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((item, index) => { %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= item.string %></td>
                    <td><%= item.integer %></td>
                    <td><%= item.float %></td>
                    <td><script> document.write(convertTgl("<%= item.date %>")); </script></td>
                    <td><%= item.boolean %></td>
                    <td>
                        <a href="edit/<%= index %>" class="btn btn-success">Edit</a>
                        <a href="delete/<%= index %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="add" class="btn btn-primary">Add Data</a>
    </div>
</body>

</html>